{% extends 'front/inc/base.html' %}

{% block content %}
{% include 'front/inc/navbar.html' %}
<div class="container my-5 clearfix">
    <h1>API Keys</h1>
    <ul class="list-group">
        <li class="list-group-item">An item <a href="#" class="btn btn-danger float-end">Modify</a></li>
        <li class="list-group-item">A second item <a href="#" class="btn btn-danger float-end">Modify</a></li>
        <li class="list-group-item">A third item <a href="#" class="btn btn-danger float-end">Modify</a></li>
        <li class="list-group-item">A fourth item <a href="#" class="btn btn-danger float-end">Modify</a></li>
        <li class="list-group-item">And a fifth one <a href="#" class="btn btn-danger float-end">Modify</a></li>
      </ul>

</div>
{% endblock %}