{% extends 'front/inc/base.html' %}

{% block content %}
{% include 'front/inc/navbar.html' %}
<div class="container mt-4">
    <h1>Welcome to Alexandria!</h1>
    <hr>
    <div class="row">
        <div class="col-sm">
            <h1>0 New records in the past week</h1>
        </div>
        <div class="col-sm">
            <h1>X Api keys created</h1>
        </div>
        <div class="col-sm">
            <h1>X Api requests in the past month</h1>
        </div>
    </div>
    <h2 class="text-center my-5">TODO: Chart.js</h2>
</div>
{% endblock %}